.container {
    width: 75%;
    flex: 1;
    margin: 0 auto;
    position: relative;
    padding-top: 1rem;
}

.top-area{
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 1.5rem;
    h2{
        margin: 0 0 1rem 0;
        font-weight: 500;
        color: darkgray;
        text-decoration: underline;
        text-decoration-color: rgb(123, 123, 123);
    }
    p{
        margin: 0;
        line-height: 1.5;
        font-size: 1.15rem;
    }
}

.bottom-area{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.sub-container{
    width: 45%;
    height: fit-content;
    h3{
        text-align: center;
        font-family: 'Josefin Sans', sans-serif;
        margin: 0 0 1rem 0;
    }
}

.content{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-around;
}

// RWD
@media (max-width: 800px) {
    .container {
        outline: red solid 2px;
        width: 90%;
    }
    .bottom-area{
        flex-direction: column;
    }
    .sub-container{
        width: 100%;
        margin-bottom: 2.5rem;
    }
}

@media (max-width: 500px) {
    .top-area {
        h2 {
            font-size: 1.5rem;
        }

        p {
            font-size: 1rem;
        }
    }
}