.container{
    width: 50%;
    margin: 1.5rem auto;
    display: flex;
    h3{
        width: 50%;
        text-align: center;
        padding-bottom: 0.125rem;
        border-bottom: rgb(123, 123, 123) solid 2px;
        cursor: pointer;
    }
    .selected, .practice{
        color: #ff6600;
        border-bottom: #ff6600 solid 2px;
    }
}

// RWD
@media (max-width: 800px) {
    .container{
        width: 80%;
    }
}

@media (max-width: 500px) {
    .container{
        width: 100%;
    }
}